/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");

html {
    font-family: "Open Sans", helvetica, arial, sans-serif;
}  */

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
} 

@font-face {
    font-family: "OpenSans-Italic";
    src: url("../fonts/OpenSans-Italic.ttf");
} 

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
} 

html {
  font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
} 

body {
  background-image: url(../images/IMG_20150411_094145.jpg);
  background-size: cover;
  margin: 0;
  color: white;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.header {
	text-align: center;
  color: white;
}

.title {
	margin: 50px;
  font-family: serif;
}
.nav_item {
  color: orange;
	padding: 10px;
	
}

nav {
  margin: 10px;
  padding: 10px;
}

.img {
  width: 400px;
	border: 5px solid orange;
}

.about {
	border-left: 8px solid orange;
  padding: 5px;
  font-family: serif;
  margin-top: 0;
  
}

.main {
  display: flex;
	flex-direction: row;
  justify-content: center;
}

.main-info {
  padding-left: 50px;
}

.footer {
	text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.icon {
  margin-right: 10px;
  color: white;
}






